<div class="socials text-center">
	{% if options.facebook %}
		<a href="{{ options.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
	{% endif %}
	{% if options.twitter %}
		<a href="{{ options.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
	{% endif %}
	{% if options.instagram %}
		<a href="{{ options.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
	{% endif %}
	{% if options.linkedin %}
		<a href="{{ options.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
	{% endif %}
	{% if options.pinterest %}
		<a href="{{ options.pinterest }}" target="_blank"><i class="fab fa-pinterest"></i></a>
	{% endif %}
	{% if options.email %}
		<a href="mailto:{{ options.email }}" target="_blank"><i class="fal fa-envelope"></i></a>
	{% endif %}
	{% if options.whatsapp %}
		<a href="https://wa.me/{{ options.whatsapp }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
	{% endif %}
</div>